/*
 * Project: Advanced Tattoo Removal
 * File: Main styles
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,600,700);
/* ==========================================================================
   _GENERAL STYLES
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 10px/14px 'Raleway', Arial, sans-serif;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 750px) {
  html {
    font-size: 14px;
    line-height: 18px;
  }
}
body {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  background: #fff;
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p {
  margin: 0 0 14px;
}
:focus {
  outline: -webkit-focus-ring-color auto 0;
}
a {
  color: #000;
  outline: none;
  text-decoration: none;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
.h-default,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: normal;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
}
.h1,
h1 {
  margin: 14px 0 14px;
  font-size: 24px;
  font-style: normal;
}
.h2,
h2 {
  margin: 14px 0 14px;
  font-size: 21px;
  font-style: normal;
}
.h3,
h3 {
  margin: 14px 0 14px;
  font-size: 21px;
  font-style: normal;
}
.h4,
h4 {
  margin: 14px 0 14px;
  font-size: 14px;
  font-style: normal;
}
.h5,
h5 {
  margin: 14px 0 14px;
  font-size: 12px;
  font-style: normal;
}
.h6,
h6 {
  margin: 14px 0 14px;
  font-size: 16px;
  font-style: normal;
}
/* ==========================================================================
   _CONTAINERS
   ========================================================================== */
.clearfix {
  display: table;
  content: '\0020';
  clear: both;
}
.before {
  display: block;
  content: '\0020';
  overflow: hidden;
}
/* Wrapper */
.wrapper {
  width: 100%;
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper:after {
  display: table;
  content: '\0020';
  clear: both;
}
/* PureCSS styles */
.pure-g {
  font-family: inherit;
  letter-spacing: inherit;
}
.pure-g [class*="pure-u"] {
  font-family: inherit;
}
.pure-menu-item:before {
  display: none;
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}
/* INPUT & TEXTAREA */
input,
textarea {
  height: 24px;
  padding: 5px 10px;
  border-radius: 0;
  font: 10px/12px 'Raleway', Arial, sans-serif;
  background: #fff;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  -webkit-appearance: none;
}
.form-line input {
  width: 100%;
}
textarea {
  height: 116px;
  display: block;
  resize: none;
}
@media (min-width: 750px) {
  textarea {
    height: 170px;
  }
}
.form-line textarea {
  width: 100%;
}
::-webkit-input-placeholder {
  color: #000;
}
:-moz-placeholder {
  color: #000;
}
::-moz-placeholder {
  color: #000;
}
:-ms-input-placeholder {
  color: #000;
}
/* BUTTONS */
.button,
button,
input[type="submit"] {
  height: auto;
  padding: 12px 34px;
  font: 600 10px/10px 'Raleway', Arial, sans-serif;
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fff;
  border: 1px solid #000;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus {
  color: #fff;
  background-color: #000;
}
/* FORM LINE */
.form-line {
  margin-bottom: 22px;
}
.form-line:after {
  display: table;
  content: '\0020';
  clear: both;
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
